
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/* GENERALSTYLE */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black :#000000;
    --title-color: #101828;
    --text-color: #667085;
    --gray: #8b8b8b;
    --white: #ffffff;
    --yellow: #fbff00;
    --green: #00ff0d;
    --blue: #001aff;
    --orange: #ffae00;

}
body{
    font-family: 'Inter', sans-serif;
    font-size: 20;
    color: var(--textcolor);
}


/* NAV-BAR */
.nav-bar, .nb-left, .nb-right, .nbr-text, .nbr-button{
     
}

.sectiongrise{
    background-color: #F9FAFB;
   
}

.sectiongrise .division {
    padding: 5%;
}

.nav-bar{
    color: white;
    WIDTH: 100%;
    height:72px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 50px ;
    
    
}
.nb-left{
    WIDTH: 50%;
    height:100%;

    display: flex;
    justify-content: start;
    align-items: center;
}


.nb-left div{
    width:78px ;
    height:48px;

 
}

.nb-left div img{
    width: 50%;
    height: 100%;
}

.nb-right{
    WIDTH: 50%;
    height:100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.nbr-text{
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-over {
    color: var(--black)
}

.nbr-button {
    width: 30%;
    height: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 10px ;
}
.nbr-text  p {
    
    font-size: 16px;
  
    display: flex;
 
}
.nbr-text ,.nav-items-over{
    font-weight: 700;
    background-color: #ffffff;


}

.nbr-text p {  
    font-size: 16px;
}

.ppp{
    color: gray;
}

.button1 ,.button2 {
    border-radius: 10px ;
    width: 60%;
    height: 60%;
    margin:5px;
    
}

.button1{
    background-color: #ffffff;
}

.button2{
    background-color: black;
    color: white ;
}

.division{
    height: 130px;
    width: 80%;
    display: grid;
    margin: 10%;

    
}

.text1{
    
    height: 120px;
    font-size: 50px;
    text-align: center;
}
.text2{
    color: gray;
    text-align: center;
    margin: 20px;
}

.button3{
    height: 70px;
    text-align: center;
    color: gray;
    border: solid 2px0;
}
.butt1{
    height: 80%;
    width: 120px;
    border-radius: 10px;
    background-color: #ffffff;
}
.butt2{
    height: 80%;
    width: 120px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}

.image1{
    
    text-align: center;
}

.division2{
    margin-top: 100px;
    text-align: center;
    padding: 80px;
}
.fonctionnalite{
    text-align: center;
}
.Apropos{
    font-size: 50px;
}

.chinois{
    text-align: center;
    
}

.chinois2{
    
    text-align: start;
}

.fiches1{
    text-align: start;
}

.phase2{
    display: flex;
}
.sousphase2{
    
    margin-top: 150px;
    padding-left: 100px;
    
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.image2{
    
    padding-left: 30px;
}

.division3{
    display:flex;
    
}

.carteintelligent{
    margin-top: 30%;
    
    font-size: 50px;
}

.chinois3{
    
    margin-top: 10px;
    color: #667085;
}

.divdiv {
   
    display: flex;
    background-color:#F5F5F5;
    
    
    padding: 5%;
    margin: 5%;

}
.divotext{
    
    
    width: 600px;
}


.divobutton{
    display: flex;
    margin-right: 50%;
    padding-bottom: 5%;
    align-items: center;
    
    margin-left: 20%;
}

.ppbutton1 {
    border-radius: 5px;
    background-color: white;
    display: block;
    height: 30px;
    width:120px ;
    
}

.ppbutton2{
    border-radius: 5px;
    background-color: rgb(15, 1, 1);
    color: white;
    margin-left: 15%;
    display: block;
    height: 30px;
    width:120px ;
    
}

.pptext1 {
    font-size: 150%;
    display: block;
    width:900px ;
}


.section6{
    background-color: #F9FAFB
    ;
    height: 100px;  
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    
}

.divotexto1{
    
    padding-left: 50px;
}
.divlogo{
    display: flex;
    
    padding-right: 50px;
}


.divlogo p {
    margin-left: 10px;
    justify-content: space-between;
}
.section2{
    background-color: #FFFFFF;

}

.chintoko{
    
    color: #667085;
}

#map {
    height: 623px; 
    border: none;
    border-radius: none;
    
}
